@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100%;
}

.logo {
  font-family: 'Krona One', sans-serif;
}

.carousel {
  width: 900px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.carousel img {
  margin: auto;
  width: 400px;
  height: 400px;
}

/* .Carousel .Item {
  height: 300px;
}

.Item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
} */

.cards2 {
  display: flex;
  padding-top: 50px;
}

.card2 {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card2 h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-bottom: 450px;
}

.card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card2 li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .carousel {
    width: 600px;
    height: 500px;
    margin: auto;
    overflow: hidden;
  }
}
@media (max-width: 700px) {
  .carousel {
    width: 500px;
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 400px;
    height: 250px;
    margin: auto;
    overflow: hidden;
  }
}
